/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-carkeek-blocks-youtube-embed {
	background-color: #dedede;
	padding: 1rem;
	& .yt-embed {
		&:before {
			content: url(./noun-video.svg);
			width: 100px;
			height: 100px;
		}
	}
	& .block-preview--notes {
		margin-top: 10px;
		font-style: italic;
	}
}
